#site {
  font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times, "Times New Roman", serif;
}

.white {
  background-color: #fff
}

nav .logo {
  color: #9F6C3C;
  display: inline-block;
  font-size: 2.3rem;
}

.class-action .order {
  color: #9F6C3C;
}

.shadow-container {
  min-height: 420px;
  line-height: 0;
  height: auto;
  position: relative;
  overflow: hidden;
}

.button {
  background-color: ##ab967d;
}

#order-details tfoot td:first-of-type {
  text-align: right;
  font-weight: bold;
}

.order {
  color: #333;
}

.parallax {
  position: absolute;
  display: block;
}

h1 {
  color: white;
}

h5 {
  color: #9F6C3C;
}

p {
  color: #333;
}

#slogan {
  font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times, "Times New Roman", serif;
}

div {
  display: block;
}
